.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103vh;
    --border-size: 3px;
  }
  
 .form-container  form {
    display: flex;
    flex-direction: column;
    width: 407px;
    padding: 136px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 12px;
    margin-left: 124px;
    margin-right: 125px;
  }
  
  .form-container .form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-container label {
    margin-right: 10px;
    width: 120px;
    text-align: right;
  }
  
  .form-container input[type="text"],
  
  textarea,
  input[type="file"] {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-container select
  {
    flex: 1;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container textarea {
    height: 100px;
  }
  
  .form-container button[type="submit"] {
    margin-left: 130px;
    padding: 10px 20px;
    background-color: #031930;
    color: #fff;
    border: none;
    border-radius:104px;
    cursor: pointer;
  }
  .form-title {
    text-align: center;
    margin-bottom: 41px;
    color: #ccc;
    margin-top: -3px;
     
}
.form-title h1 {
    background: linear-gradient(55deg, rgb(197, 4, 209), rgb(184, 11, 45));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .form-container button[type="submit"]:hover {
    background: linear-gradient(55deg, rgb(197, 4, 209), rgb(184, 11, 45));
  }
  .form-container {
    position: relative;
  }
  
  .go-back-link {
    position: absolute;
    bottom: 53px;
    left: 148px;
}
