footer {
  position: relative;
  bottom: 0;
  background-color: #1d2a45;
  color: #fff;
  width: 100%;
  padding: 4% 6% 2%;
}
.footer-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 0;
  padding: 0;
}
.footer-item {
  line-height: 1.8;
}
.footer-item img {
  margin-bottom: 5%;
  width: 150px;
  height: 150px;
}
.footer-item h4 {
  font-size: 20px;
  margin-bottom: 5%;
}
.footer-item p {
  color: #eeeeee;
  font-size: 16px;
  font-weight: 300;
}
.copyright-text {
  margin-top: 2%;
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
.scrollTooTop {
  background-color: #e12a85;
  color: #1d2a45;
}
@media (max-width: 668px) {
  footer {
    padding: 15% 10% 5%;
  }
  .footer-list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .copyright-text {
    text-align: left;
    width: 75%;
    font-size: 18px;
    font-weight: 200;
  }
}