.body {
  font-family: "Hind Guntur", sans-serif;
  color: #054231;
  display: flex;
  justify-content: center;

  background-image: url();
  background-repeat: no-repeat, no-repeat;
  background-position: 200% -40%;
  background-size: 80%;
}

.Card {
  width: 310px;
  height: 627px;
  padding: 15px;
  margin-top: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 15px 10px 25px 0px #130353;
  background: #fff;
  background-image: url("./../../hawa.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 40%, 80%;
  animation: open 0.5s;
}
@keyframes open {
  0% {
    background-position-y: -20%;
  }
  100% {
    background-position-y: 0%;
  }
}
.Card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.input[type="file"] {
  display: none;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: linear-gradient(270deg, #a93f80, #38056c);
  background-image: "../../static/images/hawa3.png";
  width: 205px;
  height: 205px;
  justify-content: center;
}

.img-wrap {
  position: relative;
  width: 216px;
  height: 214px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-self: center;
}
.img-upload:before {
  content: "\f093";
  font-size: 90px;
  position: absolute;
  padding-top: 80px;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
}
.img-upload:hover:before {
  opacity: 1;
}
#photo-upload{
  display: none;
}
img.Img {
  height: 95%;
  width: 95%;
  border-radius: 50%;
}

.label {
  text-transform: uppercase;
  font-weight: 700;
}

.input {
  border-radius: 15px;
  border: 1px solid #b7b7b7;
  padding: 5px 5px 5px 10px;
  font-size: 18px;
  transition: 0.2s;
}
input:focus {
  outline: none;
  border: 1px solid #220856;
}
input::placeholder {
  color: #bebebe;
}
.name {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #676767;
  max-width: 220px;
  overflow-wrap: break-word;
}
.status {
  text-align: center;
  max-width: 220px;
  overflow-wrap: break-word;
}
.button2 {
  position: relative;
  color: #054231;
  letter-spacing: 1px;
  margin: 20px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  background: #130345;
}
.save {
  font-weight: 600;
  left: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 70px;
  box-shadow: 20px 0px 40px 0px #63d3a6;
}
.edit {
  color: #fff;
  width: 180px;
}
.edit-button:hover {
  left: 0;
  color: #cebebe;
  width: 180px;
  box-shadow: 0px 0px 20px 0px #8a63d3;
}
.button2:hover {
  left: 0;
  color: #fff;
  width: 180px;
  box-shadow: 0px 0px 20px 0px #63d3a6;
}
button:focus {
  outline: none;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.fa-instagram {
  position: absolute;
  color: #79f1a4;
  top: 3%;
  right: 2%;
  font-size: 38px;
}
.fa-instagram:hover {
  font-size: 42px;
  color: #caff81;
  transition: all 0.1s linear;
  cursor: pointer;
}
.img-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}