.card-container {
    width: 350px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px rgb(49 71 244);
    transition: 0.3s;
    animation: ease-in;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    border: 2px solid #efe7e700;
    margin: 0 30px 30px 30px;
}
.image-container,.card-content,.buttn{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px -5px;

}
.image-container img{
    overflow: hidden;
    max-width: 100%;
    height: auto;

}
.card-content{
    margin-top: 0.5rem;
}

h3,p{
    margin: 0;
    padding: 0;
    color: white;

}
.card-title{
    margin-bottom: 0.5rem;

}

.buttn{
    display: flex;
    justify-content: center;
}

    .buttn button {
        padding: -2.5rem;
        background-color: aliceblue;
        border: none;
        transition: 0.2;
        margin-bottom: 0.5rem;
        border-radius: 10px;

}

.buttn button:hover{
    background: rgba(27, 156, 252, 0.1);

}
.a{
    text-transform: uppercase;
    color:#189CFC ;
    text-decoration: none;
    font-weight: bold;
}