* {
  margin: 0;
  padding: 0 ;
  box-sizing : border-box;
  
}

body {
  background-color :  #020918; 
 width: 100vw;
 scroll-behavior: smooth !important;

}
a {
  text-decoration: none;
  text-underline-offset: none;
}
ul {
  list-style: none;
  padding-bottom: 5vh;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color :  #081730; 
  position: sticky;
  top:0;
  z-index: 9999;
}

.logo {
  flex: 0 0 50%;
  background: #ac271a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo h1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(4vw - 12px);
  /* font-size: 30px; */
  /* font-size: 16; */
  line-height: 2;
  color : #081730; 

}

.logo span {
  /* font-size: 60px; */
  line-height: 1;
}

.menu-links {
  height: 10vh;
  width: 100vw;
  align-items: center;

  display: flex;
  justify-content: center;
  
 
}

.menu-links ul {
  width: 100vw;
  
}

.menu-links ul li {
  display:inline;
  padding: 10px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  width: 50px;
  height : 50px ;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-links ul img {
  padding-top: 15px;
  width: 5vw;
  height : 5vw ;
  min-height: 60px;
  min-width: 60px;
}


.menu-links ul li:hover {
  background: #fff;
  color: #081730;
  border-radius: 20px;
}

.menu-links ul li img:hover {

  background: #081730;
}

.scrolldown {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: rotate(-90deg);
}

.scrolldown::before {
  display: inline-block;
  content: "";
  border-top: 1px solid #fff;
  width: 65px;
  margin: 0 10px 0 0;
  transform: translateY(10px);
}

.text {
  position: absolute;
  top: 6vh;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
  color: #fff;
}

.text .title {
  font-size: 100px;
}

.watchnow {
  position: absolute;
  bottom: 10vh;
  right: 0;
  transform: translateY(-50%);
  background: #ac271a;
  padding: 30px 180px 30px 30px;
}

.watchnow a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 3px solid #fff;

}

.fa-play {
  color: #081730;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.media {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.media ul li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
}

.media ul li:hover {
  background: #ac271a;
}
.ellipse-container {
  width:  608px;
  height:  608px;
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  margin: 0 auto;
  z-index: -1;
}

.ellipse {
  position: absolute;
  top: 0;
  border-radius: 50%;
  border-style: solid;
}

.ellipse.thin {
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-color: #494949;
  opacity: .5;
}

.ellipse.thick {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #fff;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
}

.ellipse.yellow {
  width: 93%;
  height: 93%;
  border-width: 10px;
  border-color: #ac271a transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 12px;
  animation: ellipseRotate 15s ease-in-out infinite;
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

.circle1,
.circle2 {
  border-style: solid;
  width: 64px;
  height: 64px;
  border-width: 1px;
  border-color: rgba(0,0,0,.5);
  border-radius: 50%;
  position: absolute;
}

.circle1 {
  top: 150px;
  left: 150px;
}

.circle2 {
  bottom: 150px;
  right: 130px;
}

.circle1::before,
.circle1::after,
.circle2::before,
.circle2::after {
  content: '';
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle1::before,
.circle2::before {
  width: 12px;
  height: 12px;
  background: #fff;
  z-index: 1;
}

.circle1::after,
.circle2::after {
  width: 40px;
  height: 40px;
  background: #ac271a;
}

.circle1 span,
.circle2 span {
  position: absolute;
  top: 25px;
  width: 100px;
  font-size: 14px;
}

.circle1 span {
  left: 75px;
}

.circle2 span {
  left: -90px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('./Home.png');
  background-size: cover;
  background-size: 100% 100%;
  top: 0%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.overlay h1 {
  font-family: "Oswald";
  font-weight: bold;
  font-size: 10em;
  text-align: left;
  color: #fff;

  
}


.overlay span {
  font-family: "Oswald";
  font-size: 10em;
  text-align: left;
  color: #fff;


}

.mouse {
  display: block;
  width: 26px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid #fff;
  position: absolute;
  overflow: hidden;
  margin-bottom: 40px;
  left : 50vw ;
  bottom: 100px;
}
.mouse .roll {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 4px;
  margin-left: -2px;
  height: 4px;
  border-radius: 4px;
  background: #fff;
  -webkit-animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
  animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
  z-index: 2;
}
.mouse .rollshadow {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 4px;
  margin-left: -2px;
  height: 4px;
  background: #aaa;
  border-radius: 4px;
  -webkit-animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
  animation: mouseScroll .8s cubic-bezier(.7,0,.3,1) infinite alternate;
      animation-delay: 0s;
  -webkit-animation-delay: 80ms;
  animation-delay: 80ms;
  z-index: 1;
}
@-webkit-keyframes mouseScroll {
0% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
100% {
-webkit-transform:translateY(14px);
transform:translateY(14px)
}
}
@keyframes mouseScroll {
0% {
-webkit-transform:translateY(0);
transform:translateY(0)
}
100% {
-webkit-transform:translateY(14px);
transform:translateY(14px)
}
}






@media screen and (max-width: 550px) {
  
  .ellipse-container {
    width: calc(220vw - 608px);
    height: calc(220vw - 608px);
    position: absolute;
    display: flex;
    align-items: center;
   
    border-radius: 50%;
   
    z-index: -1;
  }
  
  .ellipse {
    position: absolute;
    top: 0;
    border-radius: 50%;
    border-style: solid;
  }
  
  .ellipse.thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: #494949;
    opacity: .5;
  }
  
  .ellipse.thick {
    width: 91%;
    height: 91%;
    border-width: 10px;
    border-color: #fff;
    transform: rotate(-45deg);
    top: calc(4vw - 12px);
    left: calc(4vw - 12px);
  }
  
  .ellipse.yellow {
    width: 91%;
    height: 91%;
    border-width: 10px;
    border-color: #ac271a transparent;
    transform: rotate(-45deg);
    top: calc(4vw - 12px);
    left: calc(4vw - 12px);
    animation: ellipseRotate 15s ease-in-out infinite;
  }
  
}

@media screen and (max-width: 617px) {

  .text .title {
    font-size: calc(40vw - 150px);
  }
  
}

@media screen and (max-width: 405px) {

  .text .title {
    font-size: 20px;
  }
  
}

.navbar {  display: flex;
}
.search-bar:hover {
  background: #081730 !important;
}
/* Width and height for the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #360552;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
